In [18]:
import pandas as pd
import numpy as nd
from re import sub
from decimal import Decimal

In [2]:
ls

ExploreData.ipynb           requirements.txt
Sales Analysis V2.ipynb     trans2017.csv
Sales Analysis V2.py        trans5.26.csv
log.csv                     transactions_last_week.csv
other_files/

In [3]:
def format_money(m):
    return Decimal(sub(r'[^\d.]', '', m))

t2017 = pd.read_csv('trans2017.csv', low_memory = False)
#t2017[t2017['Gross Sales'].apply(lambda x:format_money(x)) <= 0]
t2017
y = pd.DataFrame({'one':[11,24,4], 'two':[543,7643,34]})

In [7]:
from dateutil.parser import parse
days_key = {0:'Monday', 1:'Tuesday', 2:'Wednesday', 3:'Thursday', 4:'Friday', 5:'Saturday', 6:'Sunday'}
t2017.insert(0, 'TimeStamp', (t2017['Date']+' '+t2017['Time']).apply(lambda x: parse(x)))
t2017.insert(1, 'Day', t2017['TimeStamp'].apply(lambda x: days_key[x.weekday()]))

In [14]:

t2017['TimeStamp'].apply(lambda x: x.weekday()).unique()

array([6, 5, 4, 3, 2, 1, 0])

In [24]:

days_key[t2017['Date'][0].weekday()]

'Sunday'

In [27]:
t2017['Time'].apply(lambda x: parse(x)).hour

AttributeError: 'Series' object has no attribute 'hour'

In [14]:
min(t2017['Date']).da

AttributeError: 'str' object has no attribute 'day'

In [16]:
a = pd.DataFrame({'one':[0,0,0]})
b = pd.DataFrame({'one':[0,0,0]})
a-b

   one
0    0
1    0
2    0

In [20]:
nd.arange(6,19)

array([ 6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18])